*{
margin: 0px;
padding: 0px ;
box-sizing:border-box;

}
html, body{
height: 100% ;
width: 100%;
padding: 0px;
margin: 0px; 
}
h1, h2, h4, h5, h6{
margin: 5px;
color: #22A45D;
font-family: 'SemiBold';
}
a{
text-decoration: none;
color: #22A45D;
}
a:hover{
    color: #02642e;
}
.btn{
padding: .5rem 1rem;
background: #22A45D;
color: #ffffff;
border: 1px solid transparent;
border-radius: 18px;
font-size: 20px;
font-family: 'lora', serif ;
}
.btn:hover{
background: #02642e;
color: #fff;
}
.btn-big{
padding: .7rem 1.3rem ;
line-height: 1.3rem ;
width: 100% ;
}

.text-input{
padding: .7rem 1rem;
display: block;
width: 100%;
border-radius: 15px;
outline: none;
color: #000000;
line-height: 1.5rem;
font-family: 'lora', serif;
font-size: 20px;
background: #F3F3FC;
}
.msg{
width: 50%;
margin: 5px auto;
padding: 8px;
border-radius: 20px;
list-style: none;
}
.success{
color: #fff;
border: 1px solid rgb(59, 184, 59);
background: rgb(1, 68, 1);
}
.error{
color:#fff;
border: 1px solid red;
background: rgb(170, 3, 3);
}

.page-wrapper{
    width: 100%;
    height: 100%;
    display:flex;
}
.signup-page{
    width: 50%;
    height: 100%;
    flex: 1;
    box-shadow:1rem 1rem 1rem -1rem #0c0b0b;
    border-radius: 20px;
}
.signup-page .logo-box{
    width: 50%;
    padding-left: 50px;
    padding-top: 50px;

}
.signup-page .logo-box img{
    width: 200px;
}
.signup-page form{
    width: 70%;
    margin: 50px auto; /*to centralize the form vertically*/
    padding: 25px;
}
.signup-page form label{
    color: #000000;
   font-size: 20px;
   font-weight: 700;
}
.image-banner{
    width: 50%; 
    height: 100%;
    flex: 1;
}
.image-banner img{
    width: 100%; 
    height: 100%;
}
.form-footer p{
    bottom: 0px; /*so  that it remains  at the bottom*/
}